body {
	background-image: url("../images/stardust.png");
     background-repeat: repeat;
}

html,
body {
  height: 100%;
  min-width: 541px;
}


.container {
	width: 100%;
}

.header-img {
	display: block;
}


.play-field {
	min-height: 400px ;
	min-width: 375px;
	width: 75%;
	background: url("../images/playfield.gif") no-repeat center center fixed; 
	background-size: cover;
	opacity: 0.6;
	position: relative;
	color: #fff;
}

.game-stats {
	font-size: 1.25rem;
}

.game-text {
	font-weight: bold;
	font-size: 2.8rem;
	position: absolute;
	bottom: 9rem;
	text-align: center;
	letter-spacing: .2rem;
}


#space-to-start {
	text-align: center;
}


.guess-text {
	position: absolute;
	bottom: 3rem;
	font-size: 2.25rem;
	letter-spacing: .25em;
	text-align: center;
}

@media screen and (max-width: 915px) {
	.game-text {
		font-size: 2.25rem;
		letter-spacing: .2rem;
		right: 0;
	}

	.guess-text {
		font-size: 2rem;
		letter-spacing: .2rem;
	}


}

@media screen and (max-width: 768px) {
	.game-text {
		font-size: 2rem;
		letter-spacing: .18rem;
	}
	.guess-text {
		bottom: 3.5rem;
		right: 0;
	}
	.game-stats {
	font-size: 1.15rem;
}

@media screen and (max-width: 690px) {
	.game-text {
		font-size: 1.5rem;
		letter-spacing: .15rem;
		bottom: 11rem;
	}
	.guess-text {
		font-size: 1.25rem;
		bottom: 6.5rem;
	}
	.game-stats {
	font-size: 1rem;
}